$white: #ffffffde;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $white;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $white;
  text-decoration: none;
  position: relative;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.03);
  }
}